<ul class="languages__list">
    {% for lang in collections.language %}
        <li class="language">
            <a href="{{lang.page.url}}">
                {% if lang.data.language %}
                    {{lang.data.language}}
                {% else %}
                    {{lang.data.title}}
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>