<nav>
    <div>
        <img src="/images/logoNY.png" alt="logo">
    </div>
    <ul>
    {% for navi in nav %}
        <li id={{navi}} class="navigation">
            <p>{{navi}}</p>
        </li>
          {% endfor %}
    </ul>
</nav>