<nav>
    <div class="space__nav">
        <div>
            <img src="/images/logoNY.png" alt="logo">
        </div>
        <ul>
        {% for navi in nav %}
            <li  class="navigation">
                <a  href="#{{navi}}">{{navi}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>