<nav>
    <div class="space__nav">
        <div class="nav__logo">
            <a href="{{home}}">
                <img src="/images/logoNY.png" alt="logo">
            </a>
        </div>
        <label>
            <input type="checkbox">
            <span class="menu"> <span class="hamburger"></span> </span>
            <ul>
            {% for navi in nav %}
                <li  class="navigation">
                    <a  href="#{{navi}}">{{navi}}</a>
                </li>
                {% endfor %}
            </ul>
        </label>
    </div>
</nav>