<ul>

{% for project in projects %}
    <li>
        <p>{{project.name}}</p>
        <img src="{{project.img}}" alt="{{project.name}}">
        <a href="{{project.link}}"></a>
        <a href="{{project.githubRepo}}"></a>
    </li>
{% endfor %}
</ul>