<ul class="skills__list">
    {% for skill in skills%}
    <li>
        <img src="{{skill.img}}" alt="{{skill.name}}"> 
        <div class="skills__manage">
            <span style="width: {{skill.percentage}}"></span>
            <p>{{skill.percentage}}</p>
        </div>
    </li>
    {% endfor %}
</ul>