<ul>
    {% for skill in skills%}
    <li>
        <img src="{{skill.img}}" alt="{{skill.name}}"> 
        <div>
            <p>{{skill.percentage}}</p>
        </div>
    </li>
    {% endfor %}
</ul>