<ul>
    {% for social in socialMedia%}
        <li>
        <a href="{{social.url}}" target="_blank" rel="nooperer noreferrer" > 
        <img src="{{social.img}}" alt="{{social.name}}">
        </a>
        </li>
    {% endfor %}
</ul>