<ul class="languages__list">
    
        <li class="language">
            <a href="/pages/Nederlands/">
                
                    Nederlands
                
            </a>
        </li>
    
        <li class="language">
            <a href="/pages/Türkçe/">
                
                    Türkçe
                
            </a>
        </li>
    
        <li class="language">
            <a href="/pages/">
                
                    English
                
            </a>
        </li>
    
</ul>