@font-face {
    font-family: 'MerriweatherSans-Regular';
    src: url(../fonts/MerriweatherSans-Regular.woff2) format('woff2'),
        url(../fonts/MerriweatherSans-Regular.woff) format('woff');
}

@font-face {
    font-family: 'WorkSans-SemiBold';
    src: url(../fonts/WorkSans-SemiBold.woff) format('woff'),
        url(../fonts/WorkSans-SemiBold.woff2) format('woff2');
}

@font-face {
    font-family: 'WorkSans-Regular';
    src: url(../fonts/WorkSans-Regular.woff) format('woff'),
        url(../fonts/WorkSans-Regular.woff2) format('woff2');
}

:root{
    --head__color: #588a96;
    --light-head__color: #61b1c3;
    --extra-light-head__color: #d7f3f8;
    --white__color: #fff;
    --background__color: #F2EBDB;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1;
    background-color: var(--background__color);
}
main{
    margin-top: 117px;
}

h1{
    font-family: 'MerriweatherSans-Regular';
}
p, label, button, a{
    font-family: 'WorkSans-Regular';
}

ul{
    list-style: none;
    padding: 0;
}

.dark__background{
    align-items: center;
    background-color: var(--head__color);
    display: flex;
    justify-content: center;
    display: flex;
    h1{
        color: var(--white__color);
    }
}

nav {
    background-color: var(--head__color);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: .1875rem .25rem 1.0625rem .25rem var(--light-head__color);
    .space__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 60rem;
    padding: .625rem;
        label{
            margin: -8rem;
            padding-top: 1rem;
        }
        ul{
            padding: 0;
            display: flex;
            gap: 1rem;
            
            li {
                font-family: "WorkSans-SemiBold";
                a{
                    text-transform: capitalize;
                    color: var(--white__color);
                    text-decoration: none;
                }
                a:hover, a:focus{
                    padding: .25rem;
                    background-color: var(--light-head__color);
                    color: var(--extra-light-head__color);
                }
            }
        }
        img{
            width: 5.25rem;
            height: 5.25rem;
        }
    }
}

.head-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 60rem;
    width: 100%;
    align-items: center;
    height: 100vh;
}


@media (max-width: 31.25rem) {
    label .menu {
        position: absolute;
        right: -6.25rem;
        top: -6.25rem;
        z-index: 100;
        width: 12.5rem;
        height: 12.5rem;
        background: var(--white__color);
        border-radius: 50% 50% 50% 50%;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        box-shadow: 0 0 0 0 var(--white__color), 0 0 0 0 var(--white__color);
        cursor: pointer;
    }

label .hamburger {
    position: absolute;
    top: 8.4375rem;
    left: 3.125rem;
    width: 1.875rem;
    height: .125rem;
    background: var(--light-head__color);
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    }
    nav .space__nav ul{
        height: 0%;
        display: flex;
        gap: 4rem;
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media( min-width: 31.3125rem)  {
    label .menu, label .hamburger:after, label input, label .hamburger:before, label ul{
        display: none;
    }
    nav .space__nav ul{
        opacity: 1;
        position: static;
    }
}

*, *:before, *:after 
{ box-sizing: border-box; }

html { font-size: 1.125rem; }

label .hamburger:after, label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: var(--light-head__color);
}

label .hamburger:before { top: -0.625rem; }

label .hamburger:after { bottom: -0.625rem; }

label input:checked + .menu {
    box-shadow: 0 0 0 80vw var(--light-head__color);
}

label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
}

label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}

label input:checked + .menu + ul {
    opacity: 1;
}

label ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
}

.head-text{
    margin-right: -3rem;
    flex: 1;
    padding: 1rem;
    h1, p:nth-child(3){
        padding-bottom: 1rem;
        text-wrap: balance;
        line-height: 2.875rem;
    }
    p {
        line-height: 1.5rem;
        font-size: medium;
    }
}

.solial-list{
    display: flex;
    padding-bottom: 2rem;
    gap: 1rem;
}

.download{
    background-color: var(--head__color);
    color: var(--white__color);
    padding: 1rem;
    text-decoration: none;
    text-wrap: nowrap;
}

.portfolio-picture {
    animation: fly 5s infinite;
    position: relative;
    z-index: -1;
    width: 35rem;
}

@keyframes fly {
    0% {
        top: 0;
    }
    50% {
        top: 1.25rem;
    }
    100% {
        top: 0;
    }
}

.space__skills{
    max-width: 60rem;
    margin: 0 auto;
    padding: 3rem 1rem;
    .skills__list{
        display: flex;
        flex-wrap: wrap;
        gap: 2.5rem;
        justify-content: space-evenly;
        margin-top: 1rem;
    li{
    
        display: flex;
        flex-direction: column;
        img{
            height: 8.25rem;
            object-fit: contain;
            width: 8.25rem;
        }
        .skills__manage {
            background-color: var(--light-head__color);
            border-radius: 1rem;
            margin-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span{
                animation: skill 5s;
                display: flex;
                border-radius: 1rem;
                position: relative;
                border-bottom: .375rem solid var(--white__color);
            }
            p{
                color: var(--white__color);
            }
        }
    }
    }
}
@keyframes skill {
    0% {
        width: 0;
    }
    100% {
        width: "";
    }
}
.slider-container{
    height: 100vh;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        padding-left: 1rem;
    }
    .arrow-btn{
        gap: 3rem;
        padding: 0 1rem 1rem 0;
    display: flex;
    justify-content: flex-end;
    button{
        padding: 0 1rem;
    }
    }
    .slide-group{
        display: flex;
        .slide {
            margin: 10px;
            
            width: 25rem;
            padding-bottom: 2rem;
            img{
                width: 100%;
                height: 20rem;
                object-fit: cover;
                border-radius: 2rem;
            }
            a img{
                width: 2rem;
                height: 2rem;
            }
            .project__link-name{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1rem 0 0 0;
            }
            .project__links{
                display: flex;
                flex-direction: row;
                gap: 2.875rem;
                padding-top: 1rem;
            }
        }
        .slide:hover{
            mix-blend-mode: luminosity;
            
            a img:hover{
                width: 2.5rem;
                height: 2.5rem;
            }
            
        }
    }
}

.space__contact{
    margin: 0 auto;
    max-width: 60rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 6rem 0;
    h1{
        text-align: center;
    }
    .contact__mail {
        display: flex;
        flex-direction: column;
        color: var(--white__color);
        line-height: 2rem;
            input{
                display: block;
            }
        }
    form{
        display: flex;
        gap: 2rem;
        flex-direction: column;
        textarea{
            height: 8rem;
        }
        button{
            width: 100%;
        }
    }
}

footer{
    padding: 1rem 0 0 1rem;
}

.language{
    display: flex;
    padding-bottom: .625rem;
    a{
        color: black;
        text-decoration: none;
    }
}

