@font-face {
    font-family: 'MerriweatherSans-Regular';
    src: url(./MerriweatherSans-Regular.woff2) format('woff2'),
         url(./MerriweatherSans-Regular.woff) format('woff');
  }
  
  @font-face {
    font-family: 'WorkSans-SemiBold';
    src: url(./WorkSans-SemiBold.woff) format('woff'),
         url(./WorkSans-SemiBold.woff2) format('woff2');
  }
  
  @font-face {
    font-family: 'WorkSans-Regular';
    src: url(./WorkSans-Regular.woff) format('woff'),
         url(./WorkSans-Regular.woff2) format('woff2');
  }
  

:root{
    --head__color: #588a96;
    --light-head__color: #61b1c3;
    --extra-light-head__color: #d7f3f8;
    --white__color: #fff;
    --background__color: #F2EBDB;
}

html {
    scroll-behavior: smooth;
  }

body {
    display: flex;
    flex-direction: column;
    line-height: 1;
    background-color: var(--background__color);
}
.dark__background{
    background-color: var(--head__color);
}

nav {
    background-color: var(--head__color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .space__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 80rem;
        ul{
            padding: 0;
            display: flex;
            gap: 1rem;
            list-style-type: none;
            li {
                a{
                    text-transform: capitalize;
                    color: var(--white__color);
                    text-decoration: none;
                }
                a:hover, a:focus{
                    padding: .25rem;
                    background-color: var(--light-head__color);
                    color: var(--extra-light-head__color);
                }
            }
        }
        img{
            width: 84px;
            height: 84px;
        }
    }
}

.head-container{
    display: flex;
}