<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<nav>
    <div class="space__nav">
        <div class="nav__logo">
            <a href="">
                <img src="/images/logoNY.png" alt="logo">
            </a>
        </div>
        <label>
            <input type="checkbox">
            <span class="menu"> <span class="hamburger"></span> </span>
            <ul>
            
            </ul>
        </label>
    </div>
</nav>
    <main>
    
    
    
    </main>
    <footer>
    <ul class="languages__list">
    
        <li class="language">
            <a href="/pages/Nederlands/">
                
                    Nederlands
                
            </a>
        </li>
    
        <li class="language">
            <a href="/pages/Türkçe/">
                
                    Türkçe
                
            </a>
        </li>
    
        <li class="language">
            <a href="/pages/">
                
                    English
                
            </a>
        </li>
    
</ul>
    </footer>
</body>
<script src="/js/slides.js"></script>
</html>