---
title: Hi, My Name is Nese Yildirim
head: Nese Yildirim
tags: language
language: English
nav: 
-   home
-   skills
-   projects
-   contact
---
{% extends "../_layouts/base.njk" %}
{% block main %}
<div>
 <h1>{{title}}</h1>
    {% include "../_includes/_social.njk" %}
 <a href="/downloads/cvENG.pdf" download="CV_Nese.pdf">Download CV</a>
</div>
<div>
<img src="/images/portfolioPicture.png" alt="portfolio picture">
</div>
{% endblock main %}