---
title: Hi, My Name is Nese Yildirim
head: Nese Yildirim
tags: language
language: English
nav: 
-   home
-   skills
-   projects
-   contact
---
{% extends "../_layouts/base.njk" %}
{% block main %}
<div>
<h1>{{title}}</h1>
<p>I am a full stack developer student at Artevelde University College, specializing in HTML, CSS, and JavaScript.</p>
<p>Feel free to take a look at my portfolio.</p>
    {% include "../_includes/_social.njk" %}
<a href="/downloads/cvENG.pdf" download="CV_Nese.pdf">Download CV</a>
</div>
<div>
<img src="/images/portfolioPicture.png" alt="portfolio picture">
</div>
<div class="dark__background">
<h1>Skills</h1>
    {% include "../_includes/_skills.njk" %}
</div>
<div>
<h1>Projects</h1>
    {% include "../_includes/_projects.njk" %}
</div>
<div class="dark__background">
<h1>Contact me</h1>
<form
  action="https://formspree.io/f/myyqkzdz"
  method="POST"
>
  <label>
    Your email:
    <input type="email" name="email" required>
  </label>
  <label>
    Your message:
    <textarea name="message" required></textarea>
  </label>
  <!-- your other form fields go here -->
  <button type="submit">Send</button>
</form>
</div>
{% endblock main %}