---
title: hallo, Ik ben Nese Yildirim
tags: language
head: Nese Yildirim
language: Nederlands
nav:
-   home
-   skills
-   projecten
-   contact
---
{% extends "../_layouts/baseNL.njk" %}
{% block main %}
<div>
    <h1>{{title}}</h1>
    <p>ik ben student full stack developer aan arteveldehogeschool
    gespecialiseerd in HTML, CSS en JavaScript.</p>
    <p>Neem gerust een kijkje bij mijn portfolio</p>
    {% include "../_includes/_social.njk" %}
    <a href="/downloads/cvNL.pdf" download="CV_Nese.pdf">Download CV</a>
</div>
<div>
<img src="/images/portfolioPicture.png" alt="portfolio picture">
</div>
<div class="dark__background">
<h1>Skills</h1>
   {% include "../_includes/_skills.njk" %}
</div>
<div>
<h1>Projecten</h1>
</div>
<div class="dark__background">
<h1>Contacteer mij</h1>
</div>
{% endblock main %}