---
title: Hallo, ik ben Nese Yildirim
tags: language
head: Nese Yildirim
home: /Nederlands
language: Nederlands
nav:
-   home
-   skills
-   projecten
-   contact
---
{% extends "../_layouts/baseNL.njk" %}
{% block main %}
<div class="head-container">
  <div class="head-text">
    <h1 id="home">{{title}}</h1>
    <p>Ik ben student full stack developer aan arteveldehogeschool
    gespecialiseerd in HTML, CSS en JavaScript.</p>
    <p>Neem gerust een kijkje bij mijn portfolio</p>
    {% include "../_includes/_social.njk" %}
    <a class="download" href="/downloads/cvNL.pdf" download="CV_Nese.pdf">Download CV</a>
  </div>
  <div class="portfolio-picture">
      <img src="/images/portfolioPicture.png" alt="portfolio picture">
  </div>
</div>
<div class="dark__background">
  <div class="space__skills">
    <h1 id="skills">Skills</h1>
    {% include "../_includes/_skills.njk" %}
  </div>
</div>
<div class="slider-container">
  <h1 id="projecten">Projecten</h1>
  {% include "../_includes/_projects.njk" %}
</div>
<div class="dark__background">
  <div class="space__contact">
    <h1 id="contact">Contacteer mij</h1>
    <form
      action="https://formspree.io/f/myyqkzdz"
      method="POST"
      >
      <label class="contact__mail">
        Jouw email:
        <input type="email" name="email" required>
      </label>
      <label class="contact__mail">
        Jouw bericht:
        <textarea name="message" required></textarea>
      </label>
      <!-- your other form fields go here -->
      <button type="submit">Verstuur</button>
    </form>
  </div>
</div>
{% endblock main %}