---
title: hallo, Ik ben Nese Yildirim
tags: language
head: Nese Yildirim
language: Nederlands
nav:
-   home
-   skills
-   projecten
-   contact
---
{% extends "../_layouts/baseNL.njk" %}
{% block main %}
    <h1>{{title}}</h1>
{% endblock main %}