---
title: Merhaba, ben Nese Yildirim
tags: language
head: Nese Yildirim
language: Türkçe
nav:
-   ana-sayfa
-   skills
-   projeler
-   iletişim
---
{% extends "../_layouts/baseTR.njk" %}
{% block main %}
<div class="head-container">
  <div>
    <h1 id="na-sayfa">{{title}}</h1>
    <p>Artevelde yüksek okulu'nda full stack developer öğrencisiyim. HTML, CSS ve JavaScript konularında uzmanlaşıyorum.</p>
    {% include "../_includes/_social.njk" %}
    <a href="/downloads/cvENG.pdf" download="CV_Nese.pdf">Download CV</a>
  </div>
  <div class="portfolio-picture">
    <img src="/images/portfolioPicture.png" alt="portfolio picture">
  </div>
</div>

<div class="dark__background">
<h1 id="skills">Skills</h1>
    {% include "../_includes/_skills.njk" %}
</div>
<div>
<h1 id="projeler">Projeler</h1>
 {% include "../_includes/_projects.njk" %}
</div>
<div class="dark__background">
<h1 id="iletişim">Iletişime geç</h1>
<form
  action="https://formspree.io/f/myyqkzdz"
  method="POST"
  >
  <label>
    E-posta adresiniz:
    <input type="email" name="email" required>
  </label>
  <label>
    Mesajınız:
    <textarea name="message" required></textarea>
  </label>
  <!-- your other form fields go here -->
  <button type="submit">Gönder</button>
</form>
</div>
{% endblock main %}